* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif ;
}
a{
  text-decoration: none !important;
}

.gallery {
  border-radius: 20px;
}

a {
  text-decoration: none !important;
  font-family: "Encode Sans Expanded", sans-serif !important;
}

.gallery__container {
}

.fw {
  font-weight: 700 !important;
}
